.main {
  background-image: linear-gradient(55deg, #fa60e5, #77ffff, #071ea5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.title {
  color: #ffffff;
  font-size: 10vw;
}

.room-create-btn {
  width: 50vw;
  max-width: 200px;
  height: 50vw;
  max-height: 200px;
  border-radius: 100vw;
  border-width: 0vw;
  font-size: 2rem;
  background: #ffffff;
}


